.sidebar-dropdown {
    display: grid;

    &:is(.open) {


        .sidebar-dropdown_toggle.nav-link {
            &:hover {
                background: none !important;
            }

            .icon {
                transform: rotatez(180deg);
            }
        }

        .sidebar-dropdown_menu {
            grid-template-rows: 1fr;
        }
    }



    .sidebar-dropdown_toggle {
        .icon {
            transition: 0.25s ease-in-out transform;
        }
    }

    >.nav-link {
        justify-content: space-between;
        border: none;
        outline: none;
        background: none;
    }

    .sidebar-dropdown_menu {
        justify-self: end;
        display: grid;
        border-left: .3rem solid var(--fresh);
        grid-template-rows: 0fr;
        transition: 0.25s ease-in-out grid-template-rows;
        width: calc(100% - var(--padding)) !important;

        .list-group {
            overflow: hidden;
        }

    }
}